[project]
	description = asdfasfsafsa
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zwzwilson
[access "refs/for/refs/*"]
	read = group user/zwzwilson
	push = group user/zwzwilson
	label-Code-Review = -2..+2 group user/zwzwilson
	label-Verified = -1..+1 group user/zwzwilson
	rebase = group user/zwzwilson
	removeReviewer = group user/zwzwilson
	submit = group user/zwzwilson
[access "refs/heads/*"]
	read = group user/zwzwilson
	create = group user/zwzwilson
	push = +force group user/zwzwilson
	pushMerge = group user/zwzwilson
[access "refs/tags/*"]
	push = +force group user/zwzwilson
	pushTag = group user/zwzwilson
	pushSignedTag = group user/zwzwilson
